*{
    margin: 0;
    padding: 0;
}

.Header{
    display: flex;
    background-color: #0000ff;
    color:white;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}





